aiohttp==3.7.4.post0
async-generator==1.10
async-timeout==3.0.1
attrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cramjam==2.5.0
cryptography==37.0.4
cssselect2==0.6.0
discord.py==2.0.1
docopt==0.6.2
et-xmlfile==1.1.0
fastparquet==0.8.1
fsspec==2022.7.1
h11==0.13.0
idna==3.3
Js2Py==0.71
lxml==4.9.1
mouse==0.7.1
multidict==6.0.2
numpy==1.23.1
openpyxl==3.0.10
outcome==1.2.0
pandas==1.4.3
Pillow==9.2.0
pipreqs==0.4.11
pyarrow==9.0.0
pycparser==2.21
pyjsparser==2.7.1
PyNaCl==1.5.0
pyOpenSSL==22.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
reportlab==3.6.11
requests==2.28.1
selenium==4.3.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
svglib==1.4.1
tinycss2==1.1.1
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.11
webencodings==0.5.1
wsproto==1.1.0
xlwings==0.27.12
yarg==0.1.9
yarl==1.8.1
youtube-dl==2021.12.17
